{% extends 'ZApp/base.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="section-title">Terms and Conditions</h2>
    <p>These are the terms and conditions for using Sticker Magnet Designs. Please read them carefully to understand your rights and obligations when using our website and services.</p>
    <ul>
        <li>Usage of our website and services implies acceptance of these terms.</li>
        <li>All content on this site is for informational purposes and is subject to change without notice.</li>
        <li>Unauthorized use of our designs or intellectual property is prohibited and may result in legal action.</li>
        <li>For any disputes, our terms are governed by the laws of our jurisdiction.</li>
    </ul>
    <p>By using our services, you acknowledge that you have read, understood, and agreed to these terms and conditions.</p>
</div>
<div style="margin-bottom: 100px;"></div> <!-- Gap at the bottom -->

<style>
    .section-title {
        font-size: 1.8em;
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 2px solid #032963;
        display: inline-block;
        padding-bottom: 10px;
    }
</style>
{% endblock %}
