/* ZApp/static/ZApp/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #032963; /* Navy blue */
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.footer {
    background-color: #ad8e6e; /* Gold */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    padding: 20px;
}
